.nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    padding: 20px;
    height: 60px;
    left: 0;
    justify-content: space-between;
    /* Animation */
    transition-timing-function: ease  -in;
    transition: all 0.5s;
  }
  
  .user {
    position: fixed;
    top: 9px;
    right: 20px;
    width: 40px;
    object-fit: contain;
  }
  .nav_black {
    background-color: black;
    transition: ease-in-out 800ms;
  }
  
  .nav_logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
  }
  